.my-accordion .accordion-button:not(.collapsed) {
    background-color: #198754;
    /* couleur de fond */
    color: white;
    /* couleur du texte */

}

#myfooter {
    text-align: center;
    margin: 60px;
    font-size: 100px;
}